# Example .env file

# Organization ID
NEXT_PUBLIC_ORGANIZATION_ID=your-organization-id-here

# Turnkey API keys
TURNKEY_API_PUBLIC_KEY=your-public-key-here
TURNKEY_API_PRIVATE_KEY=your-private-key-here

# Base URL for the API
NEXT_PUBLIC_BASE_URL=https://api.example.com

# Server sign URL
NEXT_PUBLIC_SERVER_SIGN_URL="http://localhost:5000"